*.pyc
*.swp
*.iml
.DS_Store
.android_config
.gclient*
.gm-actuals
.gradle
.idea
.cproject
.project
.settings/
TAGS
bower_components
common
gyp/build
out
platform_tools/android/apps/build
platform_tools/android/apps/*.properties
platform_tools/android/apps/*/build
platform_tools/android/apps/*/src/main/libs
platform_tools/chromeos/third_party/externals
platform_tools/chromeos/toolchain
skps
third_party/externals
tools/skp/page_sets/data/*.json
tools/skp/page_sets/data/*.wpr
xcodebuild
