*.pyc
*.swp
*.iml
.DS_Store
.android_config
.gclient*
.gradle
.idea
.cproject
.project
.recipe_deps/
.settings/
.vscode/
.win_toolchain/
TAGS
bower_components
imgui.ini
infra/bots/gen_tasks_aux.go
infra/bots/tools/luci-go/linux64/cipd
infra/bots/tools/luci-go/linux64/isolate
infra/bots/tools/luci-go/mac64/cipd
infra/bots/tools/luci-go/mac64/isolate
infra/bots/tools/luci-go/win64/cipd.exe
infra/bots/tools/luci-go/win64/isolate.exe
out
platform_tools/android/apps/build
platform_tools/android/apps/*.properties
platform_tools/android/apps/*/build
platform_tools/android/apps/*/src/main/libs
platform_tools/android/apps/*/*/src/main/libs
platform_tools/android/apps/*.hprof
platform_tools/android/apps/*/.externalNativeBuild

/mskps
/skps
/svgs
tools/skp/page_sets/data/*.json
tools/skp/page_sets/data/*.wpr

common
buildtools
third_party/externals

bin/gn
bin/gn.exe
bin/clang-format
bin/clang-format.exe
bin/sk
bin/sk.exe
bin/sk.version

node_modules
tools/lottiecap/filmstrip.png

bazel-*
