*.pyc
*.swp
.DS_Store
.android_config
.gclient*
.gm-actuals
.cproject
.project
.settings/
TAGS
bower_components
common
gyp/build
out
platform_tools/chromeos/third_party/externals
platform_tools/chromeos/toolchain
skps
third_party/externals
tools/skp/page_sets/data/*.json
tools/skp/page_sets/data/*.wpr
xcodebuild
