# Defines buckets on cr-buildbucket.appspot.com, used to schedule builds
# on buildbot. In particular, CQ uses some of these buckets to schedule tryjobs.
#
# See http://luci-config.appspot.com/schemas/projects:buildbucket.cfg for
# schema of this file and documentation.
#
# Please keep this list sorted by bucket name.

buckets {
  name: "master.client.skia"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: SCHEDULER
    group: "project-skia-tryjob-access"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: WRITER
    group: "service-account-skia-master"
  }
}

buckets {
  name: "master.client.skia.android"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: SCHEDULER
    group: "project-skia-tryjob-access"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: WRITER
    group: "service-account-skia-master"
  }
}

buckets {
  name: "master.client.skia.compile"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: SCHEDULER
    group: "project-skia-tryjob-access"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: WRITER
    group: "service-account-skia-master"
  }
}

buckets {
  name: "master.client.skia.fyi"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: SCHEDULER
    group: "project-skia-tryjob-access"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: WRITER
    group: "service-account-skia-master"
  }
}

buckets {
  name: "skia.primary"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: SCHEDULER
    group: "project-skia-tryjob-access"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: WRITER
    group: "service-account-skia-gce"
  }
}

buckets {
  name: "skia.testing"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: SCHEDULER
    group: "project-skia-tryjob-access"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: WRITER
    group: "service-account-skia-gce"
  }
  acls {
    role: WRITER
    group: "project-skia-committers"
  }
}

buckets {
  name: "skia.swarmbucket"
  acls {
    role: READER
    group: "all"
  }
  acls {
    role: SCHEDULER
    group: "project-skia-tryjob-access"
  }
  acls {
    role: SCHEDULER
    group: "service-account-cq"
  }
  acls {
    role: WRITER
    group: "service-account-skia-gce"
  }

  swarming {
    hostname: "chromium-swarm.appspot.com"

    builder_defaults {
      swarming_tags: "allow_milo:1"
      execution_timeout_secs: 1800  # 30 min

      dimensions: "cpu:x86-64"
      dimensions: "pool:luci.infra.try"
      caches {
        # Contains bare .git repositories that are used as git cache stored
        # on the bots. Used by bot_update recipe module
        name: "git_cache"
        path: "git_cache"
      }
    }

    builders {
      category: "Build"
      name: "Skia Presubmit"
      dimensions: "os:Ubuntu-14.04"
      recipe {
        repository: "https://chromium.googlesource.com/chromium/tools/build"
        name: "run_presubmit"
        properties: "repo_name:skia"
      }
    }

    builders {
      category: "Build"
      name: "SkiaBuildbot Presubmit"
      dimensions: "os:Ubuntu-14.04"
      recipe {
        repository: "https://chromium.googlesource.com/chromium/tools/build"
        name: "run_presubmit"
        properties: "repo_name:skia_buildbot"
      }
    }
  }
}
