# For the schema of this file and documentation, see ProjectCfg message in
# https://luci-config.appspot.com/schemas/projects:project.cfg

name: "Skia, 2D graphics library"
access: "group:all" # public
