body {
  width:100%;
  height:100%;
  margin:0px;
  padding:0px;
  background-color:#EEE;
}

div.single-line {
  clear:both;
}

div.column-set {
  width:100%;
  height:100%;
  display:table;
  vertical-align:top;
  border-collapse:collapse;
  margin:0px;
}

div.column {
  display:table-cell;
  vertical-align:top;
  margin:0px;
}

div.row-set {
  width:100%;
  height:100%;
  display:table;
  vertical-align:top;
  border-collapse:collapse;
  margin:0px;
}

div.row {
  display:table-row;
  vertical-align:top;
  margin:0px;
}

#buttons {
  height:5px;
  overflow:auto;
}

#left_column {
  width:230px;
}

#command_list_div {
}

#command_list_form {
  width:100%;
  height:100%;
}

#command_list {
  width:100%;
  height:100%;
}

#bottom_row {
  height:275px;
}

#display_pane {
}

#right_panel {
  width:230px;
}

#tabview {
}

#matrixclip {
}

#small_window {
  width:218px;
  height:218px;
  background-color:#FFF;
}

div.thin_outline {
  border:1px solid;
  margin:6px;
  padding:8px;
}

div.settings_block {
}

input.matrix {
  width:50px;
}

#overviewdetails {
  width:100%;
  height:100%;
  resize:none;
  padding:10px;
}

#menu {
  height:5px;
  overflow:auto;
  background-color:#999;
}

#menu-bar {
  margin:0px;
}

ul.dropdown-menu a {
  display:block;
  text-decoration:none;
  color:#000;
}

ul.dropdown-menu, ul.dropdown-menu li, ul.dropdown-menu ul {
  list-style:none;
  margin:0px;
  padding:0px;
}

ul.dropdown-menu {
  position:relative;
  z-index:597;
  float:left;
}

ul.dropdown-menu li {
  float:left;
  padding:5px;
  cursor:pointer;
}

ul.dropdown-menu li.hover, ul.dropdown-menu li:hover {
  position:relative;
  z-index:599;
  cursor:default;
  background-color:#FFF;
}

ul.dropdown-menu ul {
  visibility:hidden;
  position:absolute;
  top:100%;
  left:0;
  z-index:598;
  width:195px;
  border:1px solid;
  border-collapse:collapse;
  background-color:#DDD;
}

ul.dropdown-menu ul li {
  float:none;
}

ul.dropdown-menu ul ul {
  top:-2px;
  left:100%;
}

ul.dropdown-menu li:hover > ul {
  visibility:visible;
}