table#buglist {
  border-collapse: collapse;
  border-style: solid;
  border-color: rgba(0, 0, 0, 1.0);
  border-width: 3px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

tr {
  border-color: rgba(0, 0, 0, 1.0);
  border-style: dashed;
  border-width: 1px 3px;
}

tr.priority_Critical {
  background-color: rgba(255, 0, 0, 0.3);
}

tr.priority_High {
  background-color: rgba(255, 165, 0, 0.3);
}

tr.priority_Medium {
  background-color: rgba(255, 255, 0, 0.3);
}

tr.priority_Low {
  background-color: rgba(0, 255, 0, 0.3);
}

tr.priority_Never {
  background-color: rgba(190, 190, 190, 0.3);
}

tbody {
  background-color: rgba(190, 190, 190, 0.1);
}

tr.priority_row {
  background-color: rgba(190, 190, 190, 0.1);
  border-style: solid;
}

tr.tr_head {
  background-color: rgba(190, 190, 190, 0.5);
}

#table_header {
  text-align: center;
}

td {
  padding: 5px;
}

td.priority_td {
  text-align: center;
}

a {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  text-decoration: none;
}