<div class="container-fluid ng-cloak" ng-cloak>
    <div class="row" ng-show="state === c.ST_LOADING">
        <h4>Loading ...</h4>
    </div>

    <div class="row" ng-show="state === c.ST_READY">
        <h4>GM Expectations vs Actuals:</h4>
        <ul>
            <li><a href="#/view?{{ qStr({ resultsToLoad: c.RESULTS_FAILURES }) }}">Failures</a></li>
            <li><a href="#/view?{{ qStr({ resultsToLoad: c.RESULTS_ALL }) }}">All</a></li>
        </ul>

        <h4>Rendered SKPs:</h4>
        <ul>
            <li ng-repeat="oneSKP in allSKPs">
                <a href="#/view?{{ qStr(oneSKP.params) }}">
                    {{oneSKP.title}}
                </a>
            </li>
        </ul>
    </div>
</div>
