body {
  font-family: helvetica arial sans-serif;
  margin: 0;
  padding: 0;
}

img {
  box-shadow: 2px 2px 5px gray;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAAXNSR0IArs4c6QAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH3gUBEi4DGRAQYgAAAB1JREFUGNNjfMoAAVJQmokBDdBHgPE/lPFsYN0BABdaAwN6tehMAAAAAElFTkSuQmCC");
}


h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

.waiting, .waiting * {
  cursor: wait;
}

textarea {
  margin-left: 0;
  border: solid 1px #ccc;
  color: green;
  background: #eee;
}

.iframe textarea {
  resize: none;
}

template {
  display: none;
}

code {
    color: green;
}

pre, code {
    padding: 0;
}

.tries {
  margin: 1em;
  float: left;
}

#title {
  color: #ddd;
  background: #444;
  margin: 0;
  padding: 0.5em;
}

#title a:link,
#title a:visited,
#title a:hover,
#title a:active
{
  color: #ddd;
}

#content {
  padding: 1em;
}

#tryHistory {
    position: absolute;
    top: 3em;
    right: 10px;
    width: 75px;
}

#tryHistory .tries {
    float: none;
}

#chooseList {
  display: flex;
  flex-flow: row wrap;
}

#chooseSource {
  display: none;
  background: ivory;
  padding: 1em;
  border: solid lightgray 2px;
}

#chooseSource.show {
  display: block;
}

#selectedSource {
  display: none;
}

#selectedSource.show {
  display: block;
}

#sourceCode {
  display: none;
}

#sourceCode.show {
  display: block;
}

#gitInfo {
    float: right;
    font-size: 70%;
}

.CodeMirror-lines,
.CodeMirror-scroll
{
  background-color: #eee;
}

.CodeMirror {
  border: solid gray 1px;
}
