//
//  SkiOSSampleApp-Base.xcconfig
//  iOSSampleApp
//
//  Created by Yang Su on 6/30/11.
//  Copyright 2011 Google Inc.
//  Use of this source code is governed by a BSD-style license that can be
//  found in the LICENSE file.
//
ARCHS=armv6 armv7
IPHONEOS_DEPLOYMENT_TARGET=4.2
SDKROOT=iphoneos
TARGETED_DEVICE_FAMILY=1,2

USER_HEADER_SEARCH_PATHS=../../gpu/include/** ../../include/**
CODE_SIGN_IDENTITY=iPhone Developer

