//
//  SkiOSSampleApp-Release.xcconfig
//  iOSSampleApp
//
//  Created by Yang Su on 6/30/11.
//  Copyright 2011 Google Inc.
//  Use of this source code is governed by a BSD-style license that can be
//  found in the LICENSE file.
//
#include "SkiOSSampleApp-Base"
GCC_PREPROCESSOR_DEFINITIONS=SK_RELEASE SK_BUILD_FOR_IOS SK_BUILD_NO_OPTS
GCC_OPTIMIZATION_LEVEL=s
