body {
  font-family: helvetica arial sans-serif;
  margin: 0;
  padding: 0;
}

img {
  box-shadow: 2px 2px 5px gray;
}

.zoom {
  cursor: crosshair;
}

.zoomCanvas {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

.waiting, .waiting * {
  cursor: wait;
}

textarea {
  margin-left: 0;
  border: solid 1px #ccc;
  color: green;
  background: #eee;
}

.iframe textarea {
  resize: none;
}

template {
  display: none;
}

code {
    color: green;
}

pre, code {
    padding: 0;
}

.tries {
  margin: 1em;
  float: left;
}

#title {
  color: #ddd;
  background: #444;
  margin: 0;
  padding: 0.5em;
}

#title a:link,
#title a:visited,
#title a:hover,
#title a:active
{
  color: #ddd;
}

#content {
  padding: 1em;
}

#tryHistory {
    position: absolute;
    top: 3em;
    right: 10px;
    width: 75px;
}

#tryHistory .tries {
    float: none;
}

#gitInfo {
    float: right;
    font-size: 70%;
}
