
<section id=content>
  <pre><code>#include "SkCanvas.h"

void draw(SkCanvas* canvas) {
  <textarea spellcheck=false name='code' id='code' rows='15' cols='80'>{{.Code}}</textarea>
}
</code></pre>

  <input type='button' value='Run' id='run'>
  <a href='{{if .Hash}}/c/{{.Hash}}{{end}}' target=_blank id=permalink>Share</a>

  <input type='button' value='Embed' id='embedButton' disabled/>
  <input type="text" value="" id="embed" readonly style="display:none;">

  <p>
  <img class='zoom' id='img' src='{{if .Hash}}/i/{{.Hash}}.png{{end}}'/>
  </p>

  <h2>Errors</h2>
  <pre><code id='output'></code></pre>
  <h2>Runtime output</h2>
  <pre id='stdout'></pre>

</section>
