<!DOCTYPE html>
<html>
<head>
    <title>Skia WebTry</title>
    <meta charset='utf-8' />
    <script src="/res/js/pointerevents.min.js" type="text/javascript" charset="utf-8"></script>
    <link rel='stylesheet' href='/res/css/webtry.css' type='text/css' media='screen'>
    <link rel="stylesheet" href="/res/css/cm/codemirror.css" type="text/css" media="screen">
</head>
<body class=iframe>
  {{template "content.html" .}}
  <script type='text/javascript' charset='utf-8'>
      // Not running in a workspace.
      var workspaceName = '';
  </script>
  <script src="/res/js/webtry.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>
