<!DOCTYPE html>
<html>
<head>
    <title>Skia WebTry</title>
    <meta charset='utf-8' />
    <link rel='stylesheet' href='/css/' type='text/css' media='screen'>
</head>
<body class=iframe>
  <section id=content>
  <pre><code><textarea spellcheck=false name='code' id='code' rows='8' cols='80'>{{.UserCode}}</textarea></code></pre>

  <input type='button' value='Run' id='run'>
  <a href='/c/{{.Hash}}' target=_blank id=permalink>Share</a>

  <p><img id='img' src=''/></p>

  <pre><code id='output'></code></pre>

  </section>
  <script type='text/javascript' charset='utf-8'>
      // Not running in a workspace.
      var workspaceName = '';
  </script>
  <script src='/js/' type='text/javascript' charset='utf-8'></script>
</body>
</html>
