<!DOCTYPE html>
<html>
<head>
    <title>Skia WebTry</title>
    <meta charset='utf-8' />
    <link rel="stylesheet" href="/css/" type="text/css" media="screen">
</head>
<body>
  {{template "titlebar.html"}}
  <section id=content>
  <pre><code>#include "SkCanvas.h"

void draw(SkCanvas* canvas) {
  <textarea spellcheck=false name='code' id='code' rows='15' cols='80'>{{.UserCode}}</textarea>
}
</code></pre>

  <input type='button' value='Run' id='run'>

  <input type='button' value='Embed' id='embedButton' disabled/>
  <input type="text" value="" id="embed" readonly style="display:none;">

  <p>
  <img id='img' src='{{if .Hash}}/i/{{.Hash}}.png{{end}}'/>
  </p>

  <pre><code id='output'></code></pre>

  </section>
  <script type='text/javascript' charset='utf-8'>
      // Not running in a workspace.
      var workspaceName = "";
  </script>
  <script src="/js/" type="text/javascript" charset="utf-8"></script>
</body>
</html>
