<!DOCTYPE html>
<html>
<head>
    <title>Skia WebTry</title>
    {{template "headercommon.html" .}}
    <link rel='import' type='text/html' href='/res/imp/zoom.html'>
</head>
<body>
  <div id="wrapper">
    {{template "titlebar.html" .}}
    <div id="lower-wrapper">
      {{template "sidebar.html" .}}
      {{template "content.html" .}}
    </div>
  </div>

  <script type='text/javascript'>
      // Not running in a workspace.
      var workspaceName = '';
  </script>
  {{template "footercommon.html" .}}
</body>
</html>
