<section id="sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">
        Options
      </h3>
    </div>
    <div class="panel-body">
      <form class="form-horizontal" role="form">
        <div class="form-group">
          <label for="image-width" class="col-sm-4 control-label">Width</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" id="image-width" value="{{.Width}}">
          </div>
        </div>
        <div class="form-group">
          <label for="image-height" class="col-sm-4 control-label">Height</label>
          <div class="col-sm-8">
            <input type="number" class="form-control" id="image-height" value="{{.Height}}">
          </div>
        </div>
      </form>
    </div>
  </div>
</section>