<!DOCTYPE html>
<html>
<head>
    <title>Workspace</title>
    {{template "headercommon.html" .}}
    <link rel='import' type='text/html' href='/res/imp/zoom.html'>
</head>
<body>
  <template id=tryTemplate>
    <div class=tries data-try=''>
      <img width=64 height=64 src=''>
    </div>
  </template>
  {{template "titlebar.html" .}}
{{if .Name}}
  {{template "content.html" .}}

  <section id=tryHistory>
  </section>

  <script type='text/javascript'>
    var history = {{.Tries}};
  </script>
  <script type='text/javascript'>
      // Set the workspace name so run.js also updates the history.
      var workspaceName = '{{.Name}}';
  </script>
{{else}}
  <section id=content>
    <h1>Create</h1>
    Create a new workspace:
    <form action='.' method='POST'>
      <p><input type='submit' value='Create'></p>
    </form>
  </section>
{{end}}
  {{template "footercommon.html" .}}
</body>
</html>
