/* Special alert areas at the top of the page. */
.todo-div {
    background-color: #bbffbb;
}
.warning-div {
    background-color: #ffbb00;
}

.tab-wrapper {
    margin-top: 10px;
}

.tab {
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
}

/* Tab which has been selected. */
.tab-true {
    background-color: #ccccff;
    border: 1px solid black;
    border-bottom-width: 0px;
    bottom: -1px;
}
/* All other tabs. */
.tab-false {
    background-color: #8888ff;
    cursor: pointer;
}

.tab-false:hover {
    background-color: #aa88ff;
}

/* Spacers between tabs. */
.tab-spacer {
    display: inline-block;
}
/* The main working area (connected to the selected tab). */
.tab-main {
    background-color: #ccccff;
    border: 1px solid black;
}

.update-results-button {
    font-size: 30px;
}

/* Odd and even lines within results display. */
.results-odd {
    background-color: #ddffdd;
}
.results-even {
    background-color: #ddddff;
}

.show-only-button {
    font-size: 8px;
}
.show-all-button {
    font-size: 8px;
}

.image-link {
    text-decoration: none;
}
