body, img, div {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

table {
    width: auto;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 8px;
}

td {
    border-top: 1px solid #DDD;
    padding: 16px;
}
thead > tr > td {
    border: none;
}

button {
    font-family: Verdana;
    font-weight: 900;
}

input[type="checkbox"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height:20px;
    padding: 2px;
    background: #EEE;
    border-radius: 2px;
    box-shadow: inset 0 0 8px -2px black;
}

input[type="checkbox"]:checked {
    background: #a9db80;
    background:  -webkit-linear-gradient(top, #00b7ea 0%,#009ec3 100%);
}

input[type="checkbox"]:active {
    background: #a9db80;
    background: -webkit-linear-gradient(top, #009ec3 0%,#00b7ea 100%);
}

input[type="checkbox"].lastselected {
    padding: 0;
    border: 2px solid #009ec3;
    box-shadow: inset 0 0 8px -2px black, 0 0 6px black;
}

.commit {
    position: absolute;
    top: 8px;
    right: 8px;
}

.commit > button {
    border: 1px solid #00687F;
    border-radius: 4px;
    padding: 8px;
    color: white;
    text-shadow: 0 0 4px black;
    box-shadow: 0 0 8px black;
    background: #a9db80;
    background: -webkit-linear-gradient(top, #a9db80 0%,#96c56f 100%);
}

.commit > button:active {
    background: #96c56f;
    background: -webkit-linear-gradient(top, #96c56f 0%,#a9db80 100%);
}

.common-name {
    vertical-align: top;
}


.gm-image {
    border: 1px dotted black;
}

.gm-image:hover {
    border: 1px dashed black;
}

.selected {
    background: #ffff88;
}

.left-image {
    float: right;
}

.right-image {
    text-align: right;
}

.success-flash {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: greenflash;
}

.failure-flash {
    -webkit-animation-duration: 0.8s;
    -webkit-animation-name: redflash;
}

@-webkit-keyframes greenflash {
    from {
        background-color: #8F8;
    }

    to {
        background-color: #FFF
    }
}

@-webkit-keyframes redflash {
    from {
        background-color: #F88;
    }

    to {
        background-color: #FFF
    }
}

.result {
    padding: 8px;
    cursor: default;
    -webkit-filter: grayscale(30%)
}

.result:hover {
    border: 2px dotted #DDD;
    padding: 6px;
    -webkit-filter: grayscale(0)
}

.result-0 {
    background-color: #268bd2;
}

.result-1 {
    background-color: #d33682;
}

.result-2 {
    background-color: #b58900;
}

.result-3 {
    background-color: #cb4b16;
}

.result-4 {
    background-color: #6c71c4;
}

.result-5 {
    background-color: #dc322f;
}

.result-6 {
    background-color: #2aa198;
}

.result-7 {
    background-color: #859900;
}
