body, img, div {
    font-family: Verdana;
    margin: 0;
    padding: 0;
}

table {
    width:100%;
    border-collapse: collapse;
    border-spacing: 0;
    padding: 8px;
}

td {
    border-top: 1px solid #DDD;
    padding: 8px;
}
thead > tr > td {
    border: none;
}

.gm-image {
    border: 1px dotted black;
}

.gm-image:hover {
    border: 1px dashed black;
}

.left-image {
    float: right;
}

.right-image {
    text-align: right;
}

.success-flash {
    -webkit-animation-duration: 0.5s;
    -webkit-animation-name: greenflash;
}

.failure-flash {
    -webkit-animation-duration: 0.8s;
    -webkit-animation-name: redflash;
}

@-webkit-keyframes greenflash {
    from {
        background-color: #8F8;
    }

    to {
        background-color: #FFF
    }
}

@-webkit-keyframes redflash {
    from {
        background-color: #F88;
    }

    to {
        background-color: #FFF
    }
}

.result {
    padding: 8px;
    cursor: default;
    opacity: 0.7;
}

.result:hover {
    border: 2px dotted #DDD;
    padding: 6px;
    opacity: 1.0;
}

.result-0 {
    background-color: #268bd2;
}

.result-1 {
    background-color: #d33682;
}

.result-2 {
    background-color: #b58900;
}

.result-3 {
    background-color: #cb4b16;
}

.result-4 {
    background-color: #6c71c4;
}

.result-5 {
    background-color: #dc322f;
}

.result-6 {
    background-color: #2aa198;
}

.result-7 {
    background-color: #859900;
}
