# Refs configuration file. The documentation of the format can be found
# at https://luci-config.appspot.com/schemas/projects:refs.cfg.

refs {
  name: "refs/heads/master"
  config_path: "infra/branch-config"
}
