@import "bootstrap-compass";
@import "bootstrap-variables";
@import "bootstrap";

img {
  box-shadow: 2px 2px 5px gray;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAAAAAA6mKC9AAAAAXNSR0IArs4c6QAAAAJiS0dEAP+Hj8y/AAAACXBIWXMAAA7DAAAOwwHHb6hkAAAAB3RJTUUH3gUBEi4DGRAQYgAAAB1JREFUGNNjfMoAAVJQmokBDdBHgPE/lPFsYN0BABdaAwN6tehMAAAAAElFTkSuQmCC");
}

h1 {
  font-size: 18px;
}

h2 {
  font-size: 16px;
}

.waiting, .waiting * {
  cursor: wait;
}

.iframe textarea {
  resize: none;
}

template {
  display: none;
}

code {
  color: green;
}

code {
  padding: 0;
}

.tries {
  margin: 1em;
  float: left;
}

#content {
  padding: 1em;
}

#tryHistory {
  position: absolute;
  top: 3em;
  right: 10px;
  width: 75px;

  .tries {
    float: none;
  }
}

#chooseList {
  display: flex;
  flex-flow: row wrap;
}

.action-buttons {
  padding: 10px 0;
}

.show {
  display: block !important;
}

.fiddle-output {
  display: none;
}

#chooseSource {
  display: none;
}

#selectedSource {
  display: none;
}

#sourceCode {
  display: none;
  margin-top: 10px;
}

#gitInfo {
  font-size: 70%;
}

/* CodeMirror customization */

.CodeMirror-lines,
.CodeMirror-scroll
{
  background-color: #eee;
}

.CodeMirror {
  border: solid gray 1px;
  height: auto;
}

/* Make the code editor automatically resize */

.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
}

/* Twitter Bootstrap customization */

.navbar-brand {
  padding: 0;

  img {
    height: 50px;
    box-shadow: none;
    background: none;
  }
}