# To develop Skia targeting NaCl,
# copy this file to your root development directory as ".gclient"
# and then run "gclient sync".
solutions = [
  {
    "name"        : "nacl",
    "url"         : "https://skia.googlecode.com/svn/nacl",
  },
  {
    "name"        : "trunk",
    "url"         : "https://skia.googlecode.com/svn/trunk",
  },
]
